body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    animation: backgroundAnimation 14s infinite linear;
    transition: padding-top 0.3s ease; /* Add smooth transition for padding */
}
@keyframes backgroundAnimation {
    0%, 100% {
        background-color: #33FFC4;
    }
    25% {
        background-color: #33F6FF;
    }
    50% {
        background-color: #33FFC4;
    }
    75% {
        background-color: #33F6FF;
    }
}
header {
    background-color: #009688; /* Teal */
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    cursor: pointer; /* Add pointer cursor for tapping interaction */
}

nav {
    background-color: #00796b; /* Teal darken-4 */
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 100px; /* Adjust the top value based on the header height */
}

section#home {
    padding-top: 120px; /* Adjust the value based on the combined height of the header and nav */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #4caf50; /* Green */
}

section {
    padding: 20px;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.product {
    background-color: rgba(225, 225, 225, 0.5); /* White with 0.7 opacity for a translucent effect */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}
@media screen and (max-width: 380px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
        margin-right: 0;
    }
}
.header-contracted #header,
.header-contracted #navbar {
    padding: 5px;
}

.header-contracted h1 {
    font-size: 1.5em;
}